@define-color foreground #eeeeee;
@define-color foreground-inactive #888888;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0px;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button{
    color: @foreground;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 0.4em;
}


#workspaces button:not(.active) {
    color: @foreground-inactive; /* A darker color for inactive numbers */
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth
#custom-separator,
#custom-kdeconnect
{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#idle_inhibitor,
#network,
#custom-kdeconnect
{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
